link(rel='stylesheet', href='/stylesheets/table.css', type='text/css')
script(type='application/javascript', src='/javascripts/table.js')

.form-group.pull-right
  input.search.form-control(type='text', placeholder='What you looking for?')
span.counter.pull-right
table.table.table-hover.table-bordered.results
  thead
    tr
      th.sym Symbol
      th.col-md-5 Company Name
      th.col-md-4 Price
      th.col-md-3 Currency
      - if (portofolio)
        th.col-md-3 Shares
        th.col-md-6 Buy/Sell
    tr.warning.no-result
      td(colspan='4')
        i.fa.fa-warning
        |  No result
  tbody
    - if (typeof companies !== 'undefined')
      each item in companies
        tr.table-row(id="#{item.symbol}")
          th.row(scope='row') #{item.symbol}
          td#cname #{item.companyName}
          td#price #{item.price}
          td#currency #{item.currency}
